FIREBASE_WEB_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_FILE=./firebase-service-account.json

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/auth/google/callback
FRONTEND_URL=http://127.0.0.1:8501
BACKEND_URL=http://127.0.0.1:8000
COOKIE_SECURE=false

LLAMA_BASE_URL=http://127.0.0.1:8080
LLAMA_MODEL=study-bot
HF_TOKEN=
